pre.result {
  padding: 15px;
  background-color: #EEE;
}

h2 {
  a {
    display: inline-block;
    text-align: center;
    padding: 0px;
    min-width: 25px;
    background-color: #00aada;
    color: white;
    border-radius: 50%;
    cursor: pointer;
  }
}

.machine-row {
  formpart {
    display: inline-block;
  }

  a {
    cursor: pointer;
    color: red;
  }
}

.invalid {
  border: 1px solid red;
}